<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.OutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VetQueryServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.VetQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VetsForward</servlet-name>
        <servlet-class>com.bing.servlet.forward.VetsForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsForward</servlet-name>
        <servlet-class>com.bing.servlet.forward.PetsForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsOwnerAddServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.PetsOwnerAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalMainForward</servlet-name>
        <servlet-class>com.bing.servlet.forward.MedicalMainForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsAddForward</servlet-name>
        <servlet-class>com.bing.servlet.forward.PetsAddForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsModifyForward</servlet-name>
        <servlet-class>com.bing.servlet.forward.PetsModifyForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsOwnerAddForward</servlet-name>
        <servlet-class>com.bing.servlet.forward.PetsOwnerAddForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsOwnerModifyForward</servlet-name>
        <servlet-class>com.bing.servlet.forward.PetsOwnerModifyForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsQueryForward</servlet-name>
        <servlet-class>com.bing.servlet.forward.PetsQueryForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VetsQueryForward</servlet-name>
        <servlet-class>com.bing.servlet.forward.VetsQueryForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsAddServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.PetsAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsQueryServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.PetsQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsQueryPetsServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.PetsQueryPetsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsQueryOwnerServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.PetsQueryOwnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsOwnerModifyServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.PetsOwnerModifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalHistoryServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.MedicalHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalAddServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.MedicalAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetsModifyServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.PetsModifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalAddForward</servlet-name>
        <servlet-class>com.bing.servlet.forward.MedicalAddForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalHistoryForward</servlet-name>
        <servlet-class>com.bing.servlet.forward.MedicalHistoryForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerQueryServlet</servlet-name>
        <servlet-class>com.bing.servlet.employee.OwnerQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerQueryForward</servlet-name>
        <servlet-class>com.bing.servlet.forward.OwnerQueryForward</servlet-class>
    </servlet>


    
    
    <servlet-mapping>
        <servlet-name>OwnerQueryForward</servlet-name>
        <url-pattern>/ownerQueryForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerQueryServlet</servlet-name>
        <url-pattern>/ownerQueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalHistoryForward</servlet-name>
        <url-pattern>/medicalHistoryForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalAddForward</servlet-name>
        <url-pattern>/medicalAddForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsModifyServlet</servlet-name>
        <url-pattern>/petsModifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalAddServlet</servlet-name>
        <url-pattern>/medicalAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalHistoryServlet</servlet-name>
        <url-pattern>/medicalHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsOwnerModifyServlet</servlet-name>
        <url-pattern>/petsOwnerModifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsQueryPetsServlet</servlet-name>
        <url-pattern>/petsQueryPetsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsQueryOwnerServlet</servlet-name>
        <url-pattern>/petsQueryOwnerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsQueryServlet</servlet-name>
        <url-pattern>/petsQueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsAddServlet</servlet-name>
        <url-pattern>/petsAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsOwnerAddServlet</servlet-name>
        <url-pattern>/petsOwnerAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsForward</servlet-name>
        <url-pattern>/petsForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VetsForward</servlet-name>
        <url-pattern>/vetForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VetQueryServlet</servlet-name>
        <url-pattern>/vetQueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OutServlet</servlet-name>
        <url-pattern>/outServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalMainForward</servlet-name>
        <url-pattern>/medicalMainForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsAddForward</servlet-name>
        <url-pattern>/petsAddForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsModifyForward</servlet-name>
        <url-pattern>/petsModifyForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsOwnerAddForward</servlet-name>
        <url-pattern>/petsOwnerAddForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsOwnerModifyForward</servlet-name>
        <url-pattern>/petsOwnerModifyForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetsQueryForward</servlet-name>
        <url-pattern>/petsQueryForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VetsQueryForward</servlet-name>
        <url-pattern>/vetsQueryForward</url-pattern>
    </servlet-mapping>

    
    
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.bing.filter.CharacterEncodingFilter</filter-class>
        <init-param> <param-name>notFilterDir</param-name> <param-value>index.jsp</param-value> </init-param>
        <init-param> <param-name>url</param-name> <param-value>jdbc:mysql://localhost3306/test</param-value> </init-param>
    </filter>
    <filter>
        <filter-name>SrcFilter</filter-name>
        <filter-class>com.bing.filter.SrcFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SrcFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/lovepets/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

</web-app>